body,.pg,.pg * {
  outline:1px dashed green;
  margin:0;
  padding:0;
  box-sizing:border-box
}
.flx{
    display:flex;
    align-items:center
}
.pg{
    justify-content:space-between;
    flex-direction:column;
    min-height:100vh;
    border:10px solid #000;
    background:#ccc;
    text-align:center
}
header,footer{line-height:2;background-color:rgba(255,255,0,0.2)}
.pg article{
    outline:2px sold rgba(0,128,0,0.5)
}
.pg article p{
    text-align: justify;
    font-size:15px;
    padding: 10px
}
